
.css-6qob1r.e1fqkh3o3 {
    color: white;
}



button.css-16u8z0w.edgvbvh9 {
    max-width: 100%;
    width: 100%;
}
footer.css-1lsmgbg.egzxvld0 {
    display: none;
}
.css-clh2db.e1tzin5v0 {
    width: 250px;
}

span.css-10trblm.e16nr0p30 {
    color: #ef05ea;
}